[2020-09-21 02:24] jkeenan commented on #263
With the completion of [Objective 2, "strict-by-default"](https://github.com/atoomic/perl/issues/153) tonight, we are ready to begin work on Objective 2a.

I have created the following branch in our repository to hold our work on this objective:

[alpha-dev-02a-restricting](https://github.com/atoomic/perl/tree/alpha-dev-02a-restricting)

@atoomic, @toddr:  Please commit whatever work you've been d

[2020-09-21 22:50] brainbuz commented on #248
file | pass | strictures not globally specified | reviewed diffs |  
-- | -- | -- | -- | --
t/uni/parser.t | x | --- | x | global stricture enabled after last test
t/uni/select.t | x | x | x |  
t/uni/sprintf.t | x | x | x |  
t/uni/stash.t | x | --- | x | Line 51 enables strict for 1 test when it should already be on.
t/uni/tie.t | x | x | x |  
t/uni/tr_utf8.t | x | x | x |  
t/uni/universal.t |

[2020-09-21 23:18] atoomic commented on #263
@jkeenan I pushed two commits to this branch in order to relax the `use vX` syntax to satisfy this micro objective.

- fdeb46bd099d49d85c333218823a25eb17de45cb Restore use v7.x behavior
- fbf85d4894935cd819957ccb3ec3e35333e47d12 Revert change to ExtUtils-Constant/t/Constant.t

[2020-09-22 00:48] jkeenan commented on #263
On 9/21/20 7:19 PM, ℕicolas ℝ. wrote:

Thanks.  I'll create a Merge Candidate and perform outside testing
within the next 24 hours.

jimk

[2020-09-22 01:11] jkeenan commented on #263
On 9/21/20 7:19 PM, ℕicolas ℝ. wrote:

Clarification:  Are these the two commits you were referring to?

commit fbf85d4894935cd819957ccb3ec3e35333e47d12 (HEAD ->
alpha-dev-02a-restricting, upstream/alpha-
dev-02a-restricting)

commit fdeb46bd099d49d85c333218823a25eb17de45cb

And do you expect to make any further commits to this branch (assuming
no test failures)?

Thanks again.
jimk

[2020-09-22 20:45] jkeenan commented on #263
@toddr, In satisfaction of Objective 2a, are you okay with these two commits?

Thank you very much.
Jim Keenan

[2020-09-22 21:16] atoomic commented on #263
@jkeenan this is indeed the two commits I'm talking about and do not expect to push any additional changes
- fdeb46bd099d49d85c333218823a25eb17de45cb Restore use v7.x behavior
- fbf85d4894935cd819957ccb3ec3e35333e47d12 Revert change to ExtUtils-Constant/t/Constant.t

[2020-09-22 21:53] toddr commented on #263
looks right.

[2020-09-23 00:07] jkeenan commented on #263
I have tagged this branch as "alpha-02a-MC-1" at commit fbf85d4894935cd819957ccb3ec3e35333e47d12.  Please conduct any outside testing that you can.

Thank you very much.
Jim Keenan

[2020-09-24 11:55] jkeenan commented on #263
I have merged this branch into `alpha` and deleted it from the repository.  We can now proceed to [Objective 3, warnings-by-default](https://github.com/atoomic/perl/issues/154).

Thank you very much.
Jim Keenan

[2020-09-24 11:55] #263 closed

[2020-09-24 12:26] jkeenan commented on #154
@atoomic, once I merged and tagged the "02a" branch into `alpha`, I forked a new branch `alpha-dev-03-warnings`.  I then checked out `alpha-dev-02-strict+warnings` and, in preparation for merging it into `alpha-dev-03-warnings`, attempted to rebase it on the new branch.

At this point I got merge conflicts in ``pp_ctl.c`.  This is not surprising, as this was one of the files we touched while worki

[2020-09-24 15:50] atoomic commented on #154
@jkeenan I pushed 6564eb081db575d3595355a33168c018fa095de9 to the `alpha-dev-03-warnings` branch to enable warnings by default outside -e/-E one-liners.

I've also added some extra commits to start fixing warnings in various files.
As you would notice a lot of place now needs some attention/love.

[2020-09-25 07:30] brainbuz commented on #247
file | pass | strictures not globally specified | reviewed diffs |  
-- | -- | -- | -- | --
t/uni/bless.t | x | x | x |  
t/uni/caller.t | x | x | x |  
t/uni/eval.t | x | x | x |  
t/uni/fold.t | x | x | x |  
t/uni/goto.t | x | x | x |  
t/uni/gv.t | x | x | x |  
t/uni/method.t | x | --- | x | strict at line 13
t/uni/overload.t | x | --- | x | strict at line 15
t/uni/package.t | x | x | x |  

[2020-09-25 11:17] jkeenan commented on #248
I screwed up the first pass at merging this code.  https://github.com/atoomic/perl/commit/117a21e7fbf9a97bebc9073e0d86381c7c44815c should now be in the `alpha` branch.

[2020-09-25 11:17] #248 closed

[2020-09-25 18:44] jkeenan commented on #247
Looks good.  Closing ticket.

Thank you very much.
Jim Keenan

[2020-09-25 18:44] #247 closed

[2020-09-25 19:24] brainbuz commented on #244
file | pass | strictures not globally specified | reviewed diffs |  
-- | -- | -- | -- | --
t/re/pat_psycho.t | x | --- | x | strict line 10 use 5.010 line 12
t/re/qr-72922.t | x | x | x |  
t/re/recompile.t | x | --- | x | strict line 19
t/re/reg_60508.t | x | x | x |  
t/re/reg_eval.t | x | x | x |  
t/re/reg_eval_scope.t | x | x | x |  
t/re/reg_namedcapture.t | x | x | x |  
t/re/regex_sets.t

[2020-09-25 19:29] brainbuz commented on #246
I'll take it

[2020-09-25 19:30] brainbuz commented on #245
I'll take it

[2020-09-25 19:30] brainbuz commented on #241
I'll take it

[2020-09-25 19:31] atoomic commented on #244
thanks a lot @brainbuz for your work and research

[2020-09-26 01:57] jkeenan commented on #244
Files have been studied and flaws addressed.  Closing this ticket.

Thank you very much.
Jim Keenan

[2020-09-26 01:57] #244 closed

[2020-09-29 04:56] brainbuz commented on #241
fresh_perl.t executes scripts from a data section denoted by an __END__ instead of __DATA__ delimiter.
When strict is disabled globally one test fails. The failure is that an extra space is appended to a string in a test.
In addition several of these tests specify use strict.

[code]

[2020-09-29 08:37] brainbuz commented on #241
Several of these files have issues or concerns worth looking at, fresh_perl fails without strict. Others have todo or strict blocks for other active issue or old systems.

file | pass | strictures not globally specified | reviewed diffs |  
-- | -- | -- | -- | --
t/run/cloexec.t | x | x | x |  
t/run/dtrace.t |   | no dtrace | x | skipped no dtrace
t/run/exit.t | x | x | x |  
t/run/flib/broken.pm

[2020-09-29 17:34] jkeenan commented on #241
1. VMS is still a supported platform, so any TODOS related to it stay.

2. I don't get any failures for `t/run/fresh_perl.t` in the `alpha` branch.  Could you post what failures you're getting and provide output of `./perl -Ilib -Vconfig_args`?

3. I suspect we probably can remove `use strict;` from the approx. 9 unit tests where it's found in `t/run/fresh_perl.t`.  Removing those lines -- as dist

[2020-09-29 17:35] jkeenan commented on #241
I just noticed that you provided data about `t/run/*.t` in a ticket where the request was to study certain files in `t/porting`.  Can you clarify?

Thank you very much.
Jim Keenan

[2020-09-29 18:04] brainbuz commented on #246
file | pass | strictures not globally specified | reviewed diffs |  
-- | -- | -- | -- | --
t/run/cloexec.t | x | x | x |  
t/run/dtrace.t |   | no dtrace | x | skipped no dtrace
t/run/exit.t | x | x | x |  
t/run/flib/broken.pm |   | x |   | module is intended to be broken under strict
t/run/fresh_perl.t | x | fail | x | Strict @17, 2x near 500 in code writing to external script, 2x near 700, nea

[2020-09-29 18:05] brainbuz commented on #241
Had several tickets open in browser and updated the wrong one, while trying to finish my updates before going to bed. I'll copy the updates to the right one.

[2020-09-29 18:06] brainbuz commented on #246
[code]

[2020-09-29 18:12] brainbuz commented on #246
Jim here's the output  ./perl -Ilib -V config_args. @INC includes default paths which don't exist because the perl is uninstalled.

The test fails when I remove the global stricture.

[config_args.txt](https://github.com/atoomic/perl/files/5301009/config_args.txt)

[2020-09-29 20:03] jkeenan commented on #246
Can you check to see whether you accidentally deleted a trailing whitespace after `DESTROY` at line 186 of `t/run/fresh_perl.t`?

If you have deleted that spaceband, that will explain the test failure.  Note that at line 177, there is a whitespace after `DESTROY` and before the newline character.  Why? 'Cause that's the way a certain Mr. Wall wrote it back in October 1994!

[2020-09-30 00:08] brainbuz commented on #246
My editor seems to like to cleanup whitespace, when I edited the file with vi to comment out use strict the test was able to pass.

[2020-09-30 00:09] jkeenan commented on #246
So if you're thinking of a p.r. (drawn against `alpha`) I'd suggest you remove all the `use strict;` statements (I think there are 10 of them), then adjust the line numbers in the EXPECT parts to suit.

[2020-09-30 12:46] jkeenan commented on #246
One file updated in https://github.com/atoomic/perl/pull/289.  Closing.

Thank you very much.
Jim Keenan

[2020-09-30 12:46] #246 closed

[2020-09-30 17:17] brainbuz commented on #241
Here is the result of my work on this ticket. The diag test file has a large number of failing todos, which suggests it could use some review. Otherwise this group is good to go.

file | pass | strictures not globally specified | reviewed diffs |  
-- | -- | -- | -- | --
t/test.pl | --- | x | x | not a test, a utility used to run other tests.
t/thread_it.pl | --- | x | x | this is another utility

[2020-09-30 17:32] jkeenan commented on #241
Indeed.  However, performing major surgery on any test file is P5P's job -- not ours. ;-)

I take it that any changes *we* made in these files were non-controversial in your review, so I'm closing this ticket.  Thanks again for your thorough work.

[2020-09-30 17:32] #241 closed

[2020-09-30 20:07] brainbuz commented on #245
file | pass | strictures not globally specified | reviewed diffs
-- | -- | -- | --
t/re/regexp_notrie.t | x | x | x
t/re/regexp_qr.t | x | x | x
t/re/regexp_qr_embed.t | x | x | x
t/re/regexp_qr_embed_thr.t | x | x | x
t/re/regexp_trielist.t | x | x | x
t/re/regexp_unicode_prop.t | x | x | x
t/re/rxcode.t | x | x | x
t/re/speed.t | x | --- | x
t/re/subst.t | x | x | x
t/re/substT.t | x | x | x
t/r

[2020-09-30 20:55] jkeenan commented on #245
P.R. https://github.com/atoomic/perl/pull/291 merged to provide two touch-ups.  Review looks good.  Closing ticket.

Thank you very much.
Jim Keenan

[2020-09-30 20:55] #245 closed

[2020-10-01 19:35] brainbuz commented on #210
I can take this

[2020-10-01 19:36] brainbuz commented on #209
I can take this

[2020-10-01 19:36] brainbuz commented on #208
I can take this

[2020-10-01 19:36] brainbuz commented on #207
I can take this

[2020-10-02 03:27] brainbuz commented on #210
No strictures in these tests. Good to close

issue | file | pass | strictures not globally specified | reviewed diffs | notes
-- | -- | -- | -- | -- | --
210 | t/mro/next_ineval.t | x | x | x |  
210 | t/mro/next_ineval_utf8.t | x | x | x |  
210 | t/mro/next_method.t | x | x | x |  
210 | t/mro/next_method_utf8.t | x | x | x |  
210 | t/mro/next_skip.t | x | x | x |  
210 | t/mro/next_skip_utf8.t

[2020-10-02 03:29] brainbuz commented on #209
No strictures in these tests. Good to close.

issue | file | pass | strictures not globally specified | reviewed diffs | notes
-- | -- | -- | -- | -- | --
209 | t/mro/complex_c3.t | x | x | x |  
209 | t/mro/complex_c3_utf8.t | x | x | x |  
209 | t/mro/complex_dfs.t | x | x | x |  
209 | t/mro/complex_dfs_utf8.t | x | x | x |  
209 | t/mro/dbic_c3.t | x | x | x |  
209 | t/mro/dbic_c3_utf8.t | x

[2020-10-02 03:31] brainbuz commented on #207
No strictures in these tests. Good to close.

issue | file | pass | strictures not globally specified | reviewed diffs | notes
-- | -- | -- | -- | -- | --
207 | t/mro/basic.t | x | x | x |  
207 | t/mro/basic_01_c3.t | x | x | x |  
207 | t/mro/basic_01_c3_utf8.t | x | x | x |  
207 | t/mro/basic_01_dfs.t | x | x | x |  
207 | t/mro/basic_01_dfs_utf8.t | x | x | x |  
207 | t/mro/basic_02_c3.t | x

[2020-10-02 03:34] brainbuz commented on #208
3 tests had strictures, one globally, two in packages created within the tests.

issue | file | pass | strictures not globally specified | reviewed diffs | notes
-- | -- | -- | -- | -- | --
208 | t/mro/basic_03_dfs_utf8.t | x | x | x |  
208 | t/mro/basic_04_c3.t | x | x | x |  
208 | t/mro/basic_04_c3_utf8.t | x | x | x |  
208 | t/mro/basic_04_dfs.t | x | x | x |  
208 | t/mro/basic_04_dfs_utf8.

[2020-10-02 12:26] jkeenan commented on #208
https://github.com/atoomic/perl/pull/292 takes care of some remaining instances of `use strict` and has been merged into `alpha`.  Review looks good; closing ticket.

Thank you very much.
Jim Keenan

[2020-10-02 12:26] #208 closed

[2020-10-02 12:26] jkeenan commented on #207
Review looks good; closing ticket.

Thank you very much.
Jim Keenan

[2020-10-02 12:26] #207 closed

[2020-10-02 12:26] jkeenan commented on #209
Review looks good; closing ticket.

Thank you very much.
Jim Keenan

[2020-10-02 12:26] jkeenan commented on #210
Review looks good; closing ticket.

Thank you very much.
Jim Keenan

[2020-10-02 12:26] #210 closed

[2020-10-02 12:27] #209 closed

[2020-10-03 03:07] khwilliamson commented on #243
I looked at each of these tests on this ticket in blead and all have strict and warnings enabled.  Some have a particular class of warning disabled, but for good reason.

[2020-10-03 03:10] khwilliamson commented on #243
so, to be clear I think this ticket can be closed, and you don't need to worry about the warnings objective either

[2020-10-03 03:13] khwilliamson commented on #1
Isn't this closable?

[2020-10-03 03:15] khwilliamson commented on #104
It seems to me to be make work to remove these lines.  I don't understand the motivation

[2020-10-03 03:17] khwilliamson commented on #174
Isn't this closable?

[2020-10-03 11:49] #243 closed

[2020-10-04 01:20] jkeenan commented on #104
When we set out to work on this project in June, our objective was (and still largely *is*) a proof-of-concept, namely, "This is what the Perl core distribution would like if (for example) strict was on by default."

Well, if strict is on by default, you shouldn't need to declare it at the top of any file.  You should only need it if, for some reason, you needed to relax strictures at some point i

[2020-10-05 17:47] atoomic commented on #1
yes we can close this as the work is done, not in blead but in alpha

[2020-10-05 17:47] #1 closed

[2020-10-05 17:47] atoomic commented on #174
yes we can clearly close this case
the work is already in alpha branch

[2020-10-05 17:47] #174 closed

[2020-10-05 21:34] jkeenan commented on #104
See branch jkeenan/gha-104-ext-strict and https://github.com/atoomic/perl/pull/293

[2020-10-05 23:34] jkeenan commented on #96
This issue is partially addressed by commit https://github.com/atoomic/perl/commit/b09ca99c623b in the jkeenan/gha-96-op-svleak-warnings branch.  But there are two tests where I have not yet figured out how to suppress warnings.

[2020-10-06 06:37] brainbuz commented on #242
I can take a few more of these.

[2020-10-06 06:37] brainbuz commented on #221
I can take a few more of these.

[2020-10-06 06:37] brainbuz commented on #220
I can take a few more of these.

[2020-10-06 06:38] brainbuz commented on #218
I can take a few more of these.

[2020-10-06 06:38] brainbuz commented on #217
I can take a few more of these.

[2020-10-06 07:09] brainbuz commented on #217
file | pass | strictures removed | reviewed diffs | notes
-- | -- | -- | -- | --
t/op/lock.t | x | x | x |  
t/op/loopctl.t | x | x | x |  
t/op/lop.t | x | x | x |  
t/op/lvref.t | x | x | x |  
t/op/magic.t | x | x | x |  
t/op/method.t | x | --- | x | global strict
t/op/multideref.t | x | --- | x | global strict
t/op/my.t | x | x | x |  
t/op/negate.t | x | --- | x |  
t/op/not.t | x | x | x |

[2020-10-06 12:20] jkeenan commented on #217
Merged https://github.com/atoomic/perl/pull/294.  Review looks good.  Closing ticket. Thanks.

[2020-10-06 12:20] #217 closed

[2020-10-06 18:49] oodler577 commented on #213
@jkeenan interested in taking this

[2020-10-06 18:49] oodler577 commented on #214
@jkeenan interested in taking this

[2020-10-06 18:49] oodler577 commented on #215
@jkeenan interested in taking this

[2020-10-06 19:44] #104 closed

[2020-10-06 19:50] jkeenan commented on #117
This ticket is fairly moot at this point.  We got all modules under `cpan/` and `dist/` to work with strict-by-default and, on that basis, we've been submitting pull requests upstream to CPAN maintainers on an as-needed basis.  We will presumably do that with warnings-by-default and other objectives as well.  So we have practices that are, at least for the time being, satisfactory.

Closing ticket

[2020-10-06 19:50] #117 closed

[2020-10-06 19:52] jkeenan commented on #192
@toddr I believe that you have reached some *modus vivendi* with Perl 5 Porters on this issue.  Could you just write up a summary of that for this ticket, so that we can then close it?

Thank you very much.
Jim Keenan

[2020-10-06 20:07] toddr commented on #192
The changes to Dumper.pm are very minor. All we did was add my/or and called it a day. There is technically one change to behavior which is `my $pad`. This causes some of the generated code to be different and some of the tests reflect that. Other than this, the tests were just updated to accommodate strict.

As for the conflict, leon objected to the use of `add_my_to_dump` in any test and felt it

[2020-10-06 20:17] jkeenan commented on #192
Merci beaucoup!  Closing ticket.

[2020-10-06 20:17] #192 closed

[2020-10-09 23:55] oodler577 commented on #213
t/op/const-optree.t
* looks good*

t/op/context.t
* looks good

t/op/coreamp.t
* looks ok
* uses "no strict 'refs';" in places, maybe able to be rectified
* uses "no strict 'subs';" in places, maybe able to be rectified
* out of scope changes seem to be included, e.g.,:

[code]

t/op/coresubs.t
* looks good
* uses "no strict 'refs';", can probably be rectified

t/op/cproto.t
* looks good

t/op/cur

[2020-10-10 00:05] oodler577 commented on #214
t/op/delete.t
* looks good
* added "no warnings 'uninitialized';"
* added block,
[code]

t/op/die.t
* looks good

t/op/die_keeperr.t
* looks good

t/op/dor.t
* looks good

t/op/each.t
* looks good
* trailing white space line 11

t/op/eval.t
* looks good

t/op/evalbytes.t
* looks good
* has a large block affected by, "no strict 'subs';"

t/op/exec.t
* looks good

t/op/exists_sub.t
* looks good

t/o

[2020-10-10 00:12] oodler577 commented on #215
t/op/fh.t
* looks ok
* adds no strict 'refs'

t/op/filetest.t
* looks ok
* added "no strict 'refs'"*

t/op/flip.t
* looks good

t/op/for.t
* looks good

t/op/fork.t
* looks good

t/op/glob.t
* looks ok
* added "no warnings 'uninitialized';"

t/op/grent.t
* looks good*

t/op/grep.t
* looks good

t/op/gv.t
* looks ok
* included comment explaining turning off of strict in some cases,
  so I won't inc

[2020-10-10 00:13] oodler577 commented on #215
back to you @jkeenan

[2020-10-10 00:13] oodler577 commented on #214
back to you @jkeenan

[2020-10-10 00:13] oodler577 commented on #213
back to you @jkeenan

[2020-10-10 00:26] jkeenan commented on #213
I'm unclear as to what you mean by "may be able to be rectified"; can you clarify?

Thank you very much.
Jim Keenan

[2020-10-10 00:33] jkeenan commented on #214
I've fixed the trailing whitespace in `t/op/each.t` in 863b9d3cb0.

Thank you very much.
Jim Keenan

[2020-10-10 00:33] #214 closed

[2020-10-10 00:34] jkeenan commented on #215
Looks like these files are in good shape.  Thanks for your review.  Closing ticket.

[2020-10-10 00:34] #215 closed

[2020-10-10 00:58] oodler577 commented on #213
I am only indicating that it might be worth an attempt to remove localized weakening of strict in those cases. I am happy to give it a shot where ever it appears in the #213, #214, and #215

[2020-10-10 01:10] jkeenan commented on #213
Well, if we (in particular, I) weakened strictures in the course of work on a file since we forked from `v5.32.0`, then we presumably did it for a reason.  So, if you were to comment out a statement like `no strict 'refs';` in a scoped block and the test subsequently failed -- that would have been the reason.

Here you might want to use combinations of `git log`, `git blame` and `git show` to see

[2020-10-10 01:15] oodler577 commented on #213
Thanks fine with me. I can refrain from making that comment unless I have a true reason to suggest it, like it might not be necessary at all. I saw no cases here, but have seen 1 or 2 in the past reviews. I am fine with you closing this issue. Thanks!

[2020-10-10 01:19] oodler577 commented on #219
I can take this one, @jkeenan.

[2020-10-10 01:19] oodler577 commented on #216
I can take this one, @jkeenan.

[2020-10-10 01:19] oodler577 commented on #205
I can take this one, @jkeenan.

[2020-10-10 01:19] oodler577 commented on #204
I can take this one, @jkeenan.

[2020-10-10 01:19] oodler577 commented on #203
I can take this one, @jkeenan.

[2020-10-10 01:28] jkeenan commented on #204
Thanks.  Note that what you study should be files in the `alpha` branch, as the `alpha-dev-01-strict` branch -- which was the target branch when this ticket was created -- has since been merged into `alpha`.

[2020-10-10 01:29] #213 closed

[2020-10-10 01:42] jkeenan commented on #206
@cPholloway, we haven't heard from you since Aug 19.  Are you making progress on this ticket?  Please let us know within 3 days so that we can reassign if necessary.

Thank you very much.
Jim Keenan

[2020-10-10 01:44] jkeenan commented on #200
@rabbiveesh, do you have any further comments for this ticket?  If not, we'd like to close it.  Please let us know within three days.

Thank you very much.
Jim Keenan

[2020-10-10 01:45] jkeenan commented on #202
@mdperry, we haven't heard from you since Sep 1.  Are you making progress on this ticket?  Please let us know within 3 days so that we can reassign if necessary.

Thank you very much.
Jim Keenan

[2020-10-10 01:49] jkeenan opened #295 "Study changes to t/re/*.t (1 of 3)"
In this ticket we will study our progress in pursuit of Objective 2, "strict-by-default", for the following files in the Perl core distribution:
[code]

The files in question are those found in the `alpha` branch.

These files should be evaluated in light of the guidelines presented on this wiki page. Please post the summary of your findings in a single comment in this issue.

Contributors: (1) Pl

[2020-10-10 01:50] jkeenan opened #296 "Study changes to t/re/*.t (2 of 3)"
In this ticket we will study our progress in pursuit of Objective 2, "strict-by-default", for the following files in the Perl core distribution:
[code]
The files in question are those found in the `alpha` branch.

These files should be evaluated in light of the guidelines presented on [this wiki page](https://github.com/atoomic/perl/wiki/How-to-Start-Working-with-Tests-in-the-Perl-Core-Distributio

[2020-10-10 01:51] jkeenan opened #297 "Study changes to t/re/*.t (3 of 3)"
In this ticket we will study our progress in pursuit of Objective 2, "strict-by-default", for the following files in the Perl core distribution:
[code]
The files in question are those found in the `alpha` branch.

These files should be evaluated in light of the guidelines presented on [this wiki page](https://github.com/atoomic/perl/wiki/How-to-Start-Working-with-Tests-in-the-Perl-Core-Distributio

[2020-10-10 01:55] jkeenan commented on #295
We've already studied files in `t/re/`, so this ticket is superfluous.  Closing.

[2020-10-10 01:55] #295 closed

[2020-10-10 01:55] jkeenan commented on #296
We've already studied files in `t/re/`, so this ticket is superfluous.  Closing.

[2020-10-10 01:55] #296 closed

[2020-10-10 01:55] jkeenan commented on #297
We've already studied files in `t/re/`, so this ticket is superfluous.  Closing.

[2020-10-10 01:55] #297 closed

[2020-10-10 04:55] brainbuz commented on #242
One minor issue found PR  #298

file | pass | strictures removed | reviewed diffs | notes
-- | -- | -- | -- | --
t/porting/dual-life.t | x | x | x |  
t/porting/exec-bit.t | x | x | x |  
t/porting/extrefs.t | x | x | x |  
t/porting/manifest.t | x | x | x |  
t/porting/pending-author.t | x | x | x |  
t/porting/perlfunc.t | x | x | x |  
t/porting/re_context.t | x | x | x |  
t/porting/readme.t |

[2020-10-10 04:56] #242 closed

[2020-10-10 05:48] brainbuz commented on #221
file | pass | strictures removed | reviewed diffs | notes
-- | -- | -- | -- | --
t/op/threads.t | x | --- | x |  
t/op/tiearray.t | x | x | x |  
t/op/tiehandle.t | x | --- | x |  
t/op/time.t | x | x | x |  
t/op/time_loop.t | x | x | x |  
t/op/tr.t | x | x | x |  
t/op/universal.t | x | x | x |  
t/op/unshift.t | x | x | x |  
t/op/vec.t | x | x | x |  
t/op/ver.t | x | x | x |  
t/op/warn.t |

[2020-10-10 16:56] jkeenan commented on #221
P.r. merged into `alpha` in commit c5c5fb4fb2.  Review looks complete. Closing ticket.

Thank you very much.
Jim Keenan

[2020-10-10 16:56] #221 closed

[2020-10-10 19:48] rabbiveesh opened #299 "Make this repo eligible for hacktoberfest"
As per a recent [blog post](http://blogs.perl.org/users/neilb/2020/10/opt-in-your-cpan-repos-for-hacktoberfest.html) on BPO, you need to opt in your repos for hacktoberfest. Could you do so for this repo?

I believe you just need to add the hacktoberfest label to the repo.

[2020-10-10 20:47] jkeenan opened #301 "cpan/Text-Balanced: 'warnings' pragma cannot be used prior to perl-5.6"
In the `alpha-dev-03-warnings` branch -- *i.e.,* once we've turned on warnings by default -- `cpan/Text-Balanced/t/09_gentag.t` emits these warnings:
[code]
The relevant code:
[code]
So the warning is coming from inside the string `eval` at line 32.

In most other places in this branch, we would suppress this warning by prepending `no warnings 'redefine';` to the beginning of `$str`.

However, on

[2020-10-11 03:27] oodler577 commented on #203
t/io/argv.t
* lgtm (looks good to me)

t/io/crlf.t
* lgtm

t/io/dup.t
* lgtm

t/io/eintr.t
* lgtm

t/io/eintr_print.t
* lgtm

t/io/errno.t
* lgtm

t/io/errnosig.t
* lgtm

t/io/fflush.t
* lgtm

t/io/fs.t
* lgtm

t/io/inplace.t
* lgtm

[2020-10-11 03:28] oodler577 commented on #203
@jkeenan

[2020-10-11 03:34] oodler577 commented on #204
t/io/iprefix.t
* lgtm (looks good to me)

t/io/nargv.t
* lgtm

t/io/open.t
* lgtm

t/io/openpid.t
* lgtm

t/io/perlio.t
* lgtm

t/io/perlio_leaks.t
* lgtm

t/io/perlio_open.t
* lgtm

t/io/pipe.t
* lgtm

t/io/print.t
* lgtm

t/io/pvbm.t
* lgtm

@jkeenan

[2020-10-11 03:39] oodler577 commented on #205
t/io/read.t
* lgtm

t/io/say.t
* lgtm

t/io/sem.t
* lgtm

t/io/semctl.t
* lgtm

t/io/shm.t
* lgtm

t/io/socket.t
* lgtm

t/io/socketpair.t
* lgtm

t/io/tell.t
* lgtm

t/io/through.t
* lgtm

t/io/utf8.t
* lgtm

@jkeenan

[2020-10-11 03:42] oodler577 commented on #216
t/op/int.t
* lgtm

t/op/join.t
* lgtm

t/op/leaky-magic.t
* lgtm

t/op/length.t
* lgtm

t/op/lex.t
* lgtm

t/op/lex_assign.t
* lgtm

t/op/lexsub.t
* lgtm

t/op/list.t
* lgtm

t/op/local.t
* lgtm

t/op/localref.t
* lgtm

@jkeenan

[2020-10-11 03:47] oodler577 commented on #219
t/op/rt119311.t
* lgtm

t/op/runlevel.t
* lgtm

t/op/select.t
* lgtm

t/op/sigdispatch.t
* lgtm

t/op/signame_canonical.t
* lgtm

t/op/sigsystem.t
* lgtm*

t/op/sort.t
* lgtm

t/op/splice.t
* lgtm

t/op/split.t
* lgtm

t/op/split_unicode.t
* lgtm

@jkeenan

[2020-10-11 21:04] jkeenan commented on #203
Thanks for the study and review.  Closing ticket.

[2020-10-11 21:04] #203 closed

[2020-10-11 21:04] jkeenan commented on #204
Thanks for the study and review.  Closing ticket.

[2020-10-11 21:04] #204 closed

[2020-10-11 21:04] jkeenan commented on #205
Thanks for the study and review.  Closing ticket.

[2020-10-11 21:04] #205 closed

[2020-10-11 21:04] jkeenan commented on #216
Thanks for the study and review.  Closing ticket.

[2020-10-11 21:04] #216 closed

[2020-10-11 21:05] jkeenan commented on #219
Thanks for the study and review.  Closing ticket.

[2020-10-11 21:05] #219 closed

[2020-10-11 22:05] jkeenan commented on #301
I figured out a work-around for t/09_gentag.t in commit 78482fccd5, namely, simply capture the warning and do nothing further with it.

[2020-10-11 22:45] jkeenan commented on #301
Patches submitted upstream at https://rt.cpan.org/Ticket/Display.html?id=133514.

Closing ticket.

[2020-10-11 22:45] #301 closed

[2020-10-12 16:25] cPholloway commented on #206
Please feel free to reassign it if this is delaying things.  I had started to work on it, but I have not had a chance to look at it since early September due to other commitments.

Thanks,
Travis

[2020-10-12 17:50] jkeenan commented on #206
Thanks for getting back to us on this.  I hope you get a chance to look at other aspects of this project in the coming months.

@oodler577, would you like to pick up this ticket?

Thank you very much.
Jim Keenan

[2020-10-12 18:33] jkeenan opened #303 "cpan/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `cpan/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzipp

[2020-10-12 18:36] jkeenan opened #304 "dist/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `dist/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzipp

[2020-10-12 18:38] jkeenan opened #305 "ext/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `ext/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzippe

[2020-10-12 18:39] jkeenan opened #306 "lib/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `lib/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzippe

[2020-10-12 18:41] jkeenan opened #307 "t/comp/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `t/comp/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzi

[2020-10-12 18:43] jkeenan opened #308 "t/lib/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `t/lib/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzip

[2020-10-12 18:44] jkeenan opened #309 "t/op/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `t/op/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzipp

[2020-10-12 18:45] jkeenan opened #310 "t/opbasic/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `t/opbasic/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files,

[2020-10-12 18:47] jkeenan opened #311 "t/re/: implement warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for tests in the `t/re/` directory in the core distribution.  See that ticket for guidance on addressing warnings.

On Oct 11 I ran `make test` on the `alpha-dev-03-warnings` branch at commit 78482fccd5.  I then chopped up the output into individual files, gzipp

[2020-10-12 19:01] jkeenan commented on #154
Over the past few weeks I have been poking at getting test files to run under warnings-by-default.  This work is being done in the `alpha-dev-03-warnings` branch, or in branches forked therefrom.  Some directories (*e.g.,* `t/run/`) now run warnings-free in that branch.  There are currently 3 pull requests pending for merger into that branch.

But that still leaves much work to be done until `make

[2020-10-13 01:45] jkeenan commented on #305
I am working on this ticket in branch `jkeenan/ext-warnings-1`.

[2020-10-14 16:57] brainbuz commented on #220
file | pass | strictures removed | reviewed diffs | notes
-- | -- | -- | -- | --
t/op/sprintf2.t | x | --- | x | 268 stricture
t/op/sselect.t | x | x | x |  
t/op/stash.t | x | --- | x | 60 stricture
t/op/stash_parse_gv.t | x | x | x |  
t/op/sub.t | x | --- | x | 189 use strict;
t/op/sub_lval.t | x | x | x |  
t/op/substr.t | x | x | x |  
t/op/svleak.t | x | x | x |  
t/op/sysio.t | x | x | x |

[2020-10-14 19:50] brainbuz commented on #218
file | pass | strictures removed | reviewed diffs | notes
-- | -- | -- | -- | --
t/op/or.t | x | x | x |  
t/op/ord.t | x | x | x |  
t/op/override.t | x | x | x |  
t/op/pos.t | x | x | x |  
t/op/postfixderef.t | x | x | x |  
t/op/print.t | x | --- | x | strict line 19
t/op/push.t | x | x | x |  
t/op/range.t | x | x | x |  
t/op/ref.t | x | x | x |  
t/op/repeat.t | x | x | x |  

[2020-10-14 20:36] jkeenan commented on #218
One corrective p.r. merged into `alpha` in commit d3ea246483.  Thanks for the study.  Closing ticket.

Thank you very much.
Jim Keenan

[2020-10-14 20:36] #218 closed

[2020-10-16 04:50] brainbuz commented on #220
Jim assigning this to you since my study is done and the only remaining question is which module should be used on the test of 'use' under Taint, and you are better qualified to pick one than me.

[2020-10-18 14:16] jkeenan commented on #305
I've been working on this branch/ticket as time has permitted over the past week.  I have eliminated most, but not all, warnings.  Those that I have not been able to eliminate are due to quandaries which I have reported in these bug tickets in the Perl 5 issue tracker.

[ext/POSIX/t/posix.t: emits non-numeric value warning when run with warnings](https://github.com/Perl/perl5/issues/18244)
[ext/PO

[2020-10-18 17:49] rabbiveesh commented on #200
Yeah, sorry, please go ahead and close. I'll submit a PR independent of this issue.

[2020-10-18 20:22] jkeenan commented on #200
P.r. accepted; closing ticket.

Thank you very much.
Jim Keenan

[2020-10-18 20:22] #200 closed

[2020-10-19 19:11] jkeenan commented on #305
The problems described in https://github.com/Perl/perl5/issues/18249 have been fixed in Perl 5 blead.  I have cherry-picked that commit and merged it into the `jkeenan/ext-warnings-1` branch with slight modifications.

[2020-10-21 02:08] mdperry commented on #202
Hi @jkeenan,

Sorry, I didn't see your message until today.  I am indeed making progress on #202, it has just been going much slower these days.

[2020-10-24 23:55] jkeenan opened #317 "dist/Data-Dumper/t/dumper.t: fails with warnings on by default"
Turning on warnings-by-default causes `dist/Data-Dumper/t/dumper.t` to fail.

In the `alpha` branch, this test file PASSes.  So it's okay with strict-by-default.  However, in the `alpha-dev-03-warnings` branch, I get:
[code]
The failures:
[code]
Or:
[code]
So it appears that turning on `$Data::Dumper::Deparse` causes the output of `Dump` to change.

This is easy enough to correct -- just include `

[2020-10-25 00:45] jkeenan opened #319 "dist/Storable/t/code.t: test failure when run with warnings on by default"
This problem appears to be similar to that reported in https://github.com/atoomic/perl/issues/317 in that deparsing something injects `use warnings;` into the output once we're running with warnings on by default.

In the `alpha-dev-03-warnings` branch:
[code]
@atoomic, can you take a look?

Thank you very much.
Jim Keenan

[2020-10-25 00:52] jkeenan commented on #304
Tickets created while working on this ticket:

[dist/Data-Dumper/t/dumper.t: fails with warnings on by default ](https://github.com/atoomic/perl/issues/317)
[dist/Storable/t/code.t: test failure when run with warnings on by default ](https://github.com/atoomic/perl/issues/319)

[2020-10-26 01:21] jkeenan commented on #303
These warnings can be addressed by these p.r.s:
https://github.com/atoomic/perl/pull/320
https://github.com/atoomic/perl/pull/300

[2020-10-27 01:37] jkeenan opened #321 "lib/strict.t: Adapt to warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for `lib/strict.t` in the core distribution. See that ticket for guidance on addressing warnings.

This file spews so many warnings that it will be useful to treat it separately from the overall ticket for the `lib' directory, https://github.com/atoomic/perl/iss

[2020-10-27 01:39] jkeenan opened #322 "lib/warnings.t: Adapt to warnings-by-default"
In this ticket we will track our progress on implementing [Objective 3](https://github.com/atoomic/perl/issues/154), warnings-by-default, for `lib/warnings.t` in the core distribution. See that ticket for guidance on addressing warnings.

This file spews so many warnings that it will be useful to treat it separately from the overall ticket for the `lib' directory, #306.

Current output for this fi

[2020-10-27 01:40] jkeenan commented on #306
I've been poking away at this ticket in the `jkeenan/gha-306-warnings-lib-20201025` branch.  There are two files that, as expected, are generating an enormous number of warnings.  I have created separate tickets for those two.

[2020-10-27 01:43] jkeenan commented on #303
https://github.com/atoomic/perl/pull/300 has been merged, so that leaves #320 .

[2020-10-27 01:45] jkeenan commented on #317
I infer from the fact that @atoomic merged the associated p.r. that my understanding was correct.  So this ticket can be closed.

Thank you very much.
Jim Keenan

[2020-10-27 01:45] #317 closed

[2020-10-27 07:16] brainbuz commented on #310
I've started to eyeball this group and it looks like there are a lot of tests that do things that should warn, like _isn't numeric in numeric comparison_ .
I can start going through these and turn off expected warnings.

One specific test I arbitrarily picked to examine assigns a *typeglob and then declaring (but not assigning to) a variable of the same name. The goal of the test appears to be tha

[2020-10-27 12:29] jkeenan commented on #310
Indeed!  You'll find that many unit tests under `t/` fall into one of two categories:

1. They are the sort of tests that were written simultaneously with the code they are exercising and so are intended to systematically exercise all intended features of the code.  For example, tests that Larry wrote back in 1987 in `t/base/*.t`.
2. They are tests written in later years in response to bug tickets

[2020-10-28 06:01] brainbuz commented on #310
There are some void context warnings which can easily be fixed by declaring a variable discard and then changing 'eval{something}' to $discard = 'eval{something}' the test is then to look at the $@ to see if eval failed. Is it better to make this change or to silence the warning?

[2020-10-28 11:23] jkeenan commented on #310
I think that, at least in the examples cited in https://github.com/atoomic/perl/pull/323, it is sufficient to silence the warning with `no warnings 'void';`.

One of the major objections we're bound to get when we propose going to warnings-by-default is that we're being overly pedantic.  There are probably cases where creating a variable solely to hold the results of an `eval` is appropriate.  But

[2020-10-29 12:30] jkeenan commented on #310
With the two pull requests from brainbuz merged just now, `t/opbasic/*.t` runs warnings-free.  So work on this ticket is complete.   Closing.

Thank you very much.
Jim Keenan

[2020-10-29 12:30] #310 closed

[2020-10-29 18:51] brainbuz commented on #307
These tests are unable to find the warnings module.

In other test files I see code like:
[code]
there is some variation on this block, I think all that is really needed  is `@INC`.

I'm going to proceed under the assumption that I can paste this where needed.

The following tests in the folder need warnings silenced:
t/comp/bproto.t
t/comp/form_scope.t
t/comp/opsubs.t
t/comp/parser.t
t/comp/proto

[2020-10-29 20:34] jkeenan commented on #307
Hang on a bit.  I've got a branch in which I've been working on these tests.  Let me identify it and check its status before you do work that's already been done.

jimk

[2020-10-29 20:40] jkeenan commented on #307
Here's the branch, which I've just rebased on `alpha-dev-03-warnings`:

gha-307-t-comp-warnings

In a minute, I'll post the current test output in that branch.

[2020-10-29 20:51] jkeenan commented on #307
Here's the output for the `t/comp/*.t` tests in that branch:
[code]
You can find a tarball of those results [here](http://thenceforward.net/perl/perl7/freebsd.threaded.gha-307-t-comp-warnings.859ccbd4fd.t-comp.output.txt.gz).

Thank you very much.
Jim Keenan

[2020-10-29 21:09] brainbuz commented on #307
The following still issue warnings:
t/comp/form_scope.t
t/comp/parser.t
t/comp/proto.t
t/comp/uproto.t
do you want me to look at them? If your work is overlapping some of the unassigned cases do you want to pick some that it is safe for me to work on?

[2020-10-29 21:15] jkeenan commented on #307
On 10/29/20 5:09 PM, John Karr wrote:

You're welcome to have a go at them.  The reason why they are still
throwing warnings (and why I did not as of yet make a pull request) is
because they're *hard*.

If you think it would be administratively simpler, I could make a pull
request for this branch (merging into alpha-dev-03-strict) now which
would merge those files already fixed, leaving the 4 file

[2020-10-29 22:42] brainbuz commented on #307
Please Merge your branch I'll take a look at the files, also please pick some other cases and assign them.

[2020-10-29 22:47] jkeenan commented on #307
Okay, I just merged the `gha-307-t-comp-warnings` branch into `alpha-dev-03-warnings` branch.  4 or file files still generate warnings.  Have at them!  Since I know they're hard, feel free to work submit per-file pull requests.

Thank you very much.
Jim Keenan

[2020-10-30 00:37] jkeenan commented on #102
This ticket was effectively resolved by p.r. https://github.com/atoomic/perl/pull/290.  Closing.

[2020-10-30 00:37] #102 closed

[2020-10-31 01:54] brainbuz commented on #307
This my first time actively working on a big project with many collaborators and branches. I closed the duplicate PRs,

The only file left with warnings should be parser.t which is challenging me quite a bit, it has lots of heredocs (one of which editors confuse with vcs merge conflict tags), lots of warnings, lots of warnings on evals that tell the line of the eval not the line eval was called at

[2020-10-31 02:40] brainbuz commented on #307
I found a block in parser.t which does nothing (around line 555), commenting it does not change the number of tests or cause any failures.

[code]

[2020-10-31 02:41] jkeenan commented on #307
Yes, this can be challenging -- but you're doing fine!

Thanks.

Yeah, it stumped me, too.  I'll try to take another look at it tomorrow and see how we can collaborate.

Thank you very much.
Jim Keenan

[2020-10-31 02:58] brainbuz commented on #307
There is a comment a bit earlier that successful parsing is sufficient.

[2020-10-31 12:08] jkeenan commented on #307
One technique that can prove helpful in understanding the core distribution is "git archeology" -- essentially, repeated use of `git blame` to try to determine the original contributor's content.

In this case, the fact that these lines are in a block which starts with `no strict `vars`;` is a hint that this is a "Perl 7" addition to make the code work under strict-by-default.  `git blame` confirm

[2020-11-04 16:22] jkeenan commented on #96
P.R. merged; closing ticket.

[2020-11-04 16:22] #96 closed

[2020-11-04 16:24] jkeenan commented on #97
Addressed by https://github.com/atoomic/perl/pull/330.  Closing ticket.

[2020-11-04 16:24] #97 closed

[2020-11-04 19:51] jkeenan commented on #94
It appears that I completed work on this file a week ago without closing the ticket.  Commit message:
[code]
Closing now.

[2020-11-04 19:51] #94 closed

[2020-11-04 20:08] jkeenan commented on #309
I've been poking away at tests in `t/op/`, mostly be working on tickets created several months ago in an early stage of the project.  A tarball with the current status of `make test` for `t/op/` in the `alpha-dev-03-warnings` branch can be found [here](http://thenceforward.net/perl/perl7/freebsd.threaded.alpha-dev-03-warnings.87ed9d5834.t-op.make-test.output.txt.gz).

As time permits, I'm going to

[2020-11-04 20:10] jkeenan commented on #309
Tickets which have been resolved for warnings-by-default for `t/op/` include:
https://github.com/atoomic/perl/issues/94
https://github.com/atoomic/perl/issues/96
https://github.com/atoomic/perl/issues/97
https://github.com/atoomic/perl/issues/102

[2020-11-06 07:53] brainbuz commented on #307
I've created my suggestion as  a patch against perl 5 bleed if you can look at it before I make it a pull request.

[0001-make-pass-type-tests-for-two-lines-that-could-break-.patch.zip](https://github.com/atoomic/perl/files/5499828/0001-make-pass-type-tests-for-two-lines-that-could-break-.patch.zip)

[2020-11-07 13:21] jkeenan commented on #307
My feelings on this are two-fold:

1. I don't think these changes are necessary.  If you read Father C's inline comment, demonstrating that the code parses without the file dying is sufficient for what the code in `t/comp/parser.t` is intended to do.
2. However, if you're feeling bold you can submit this as a p.r. to https://github.com/Perl/perl5/issues.

@atoomic, do you have any strong opinions

[2020-11-07 16:52] brainbuz commented on #307
Something is tested (the lines aren't fatal), and should be counted as a
test, moving the braces clarifies what code is part of the block testing
those two lines.

On 11/7/20 8:21 AM, James E Keenan wrote:

[2020-11-13 23:55] jkeenan commented on #307
With the merge for `t/comp/parser.t`, it looks like the last file in this directory which is emitting warnings is `t/comp/uproto.t`.

[2020-11-30 21:05] jkeenan commented on #307
This ticket will be closable once the confusion over `t/comp/parser.t` is cleared up.

[2020-12-05 02:04] jkeenan opened #339 "t/op/caller.t: One test failing once warnings on by default"
In the `t-op-caller-bitmask-problem-20201204` branch, which is forked from `alpha-dev-03-warnings`, I have created a new file, `t/op/xcaller.t`, which contains a single unit test extracted from `t/op/caller.t`.
[code]
Once warnings are on by default (as is the case in the branches cited), this test fails.
[code]
If I were to put this file in a branch in the Perl 5 core distribution -- where warnin

[2020-12-07 02:13] jkeenan opened #341 "IRC p7-dev commit bot no longer working"
Certain Github Actions designed to bot-print messages in irc.perl.org #p7-dev are failing.  As a consequence, no bot messages (commits, pull requests, etc.) are appearing in our IRC channel.

See, for example:

https://github.com/atoomic/perl/pull/340/checks?check_run_id=1508203401

https://github.com/atoomic/perl/pull/340/checks?check_run_id=1508202333

@atoomic, can you take a look?

Thank you v

[2020-12-07 18:02] atoomic commented on #341
Thanks James for reporting it I see what is the issue I will fix it soon.

[2020-12-07 21:12] atoomic commented on #341
@jkeenan this is fixed with 1d3a401271dec0efb110697efc54198dc9b78d51
make sure to merge / cherry pick that commit to your branch

[2020-12-08 19:36] jkeenan commented on #341
@atoomic, Is there some reason why you merged this into `alpha-dev-03-warnings` rather than into `alpha`?

Looking at the code in the patch, I don't see anything that is specific to warnings.

I ask in part because I want to merge https://github.com/atoomic/perl/pull/340 into `alpha`, and rebasing other branches would be simpler if we first got everything into `alpha` that needs to be there.

Can

[2020-12-08 19:52] jkeenan commented on #307
And that was accomplished with commit 25cbffb0f8daa42936ccf24ae094d5931b89e489 for p.r. https://github.com/atoomic/perl/pull/338.  `t/comp/*.t` now runs warnings-free!

Thank you very much.
Jim Keenan

[2020-12-08 19:52] #307 closed

[2020-12-08 21:03] #341 closed

[2020-12-08 21:04] atoomic commented on #341
@jkeenan just by mistake I was trying to find the current development branch
this is now cherry picked to alpha via ad7546b29ce6d3b065210399b73aa7b94371fdd8

[2020-12-15 14:45] jkeenan commented on #311
All but one of the files in `t/re/*.t` are addressed in this p.r.: https://github.com/atoomic/perl/pull/346

[2020-12-17 15:15] jkeenan commented on #303
https://github.com/atoomic/perl/pull/320 has been merged into `alpha-dev-03-warnings`.  The entire `cpan/` directory is now consistent with warnings-by-default.  Closing this ticket.

Thank you very much.
Jim Keenan

[2020-12-17 15:16] #303 closed

[2020-12-17 15:26] jkeenan commented on #154
The following file shows the current status of the `alpha-dev-03-warnings` branch, which is the current target branch for work on this objective.
http://thenceforward.net/perl/perl7/freebsd.threaded.b8e81cf509.alpha-dev-03-warnings.make-test.output.txt.gz

There are 3 pull requests pending which will further reduce the list of tests still emitting warnings:
* https://github.com/atoomic/perl/pull/3

[2020-12-18 01:49] jkeenan commented on #306
Pull request https://github.com/atoomic/perl/pull/348 should clear all but 2 test files underneath `lib'.

[2020-12-18 01:50] jkeenan commented on #321
We don't need to keep a ticket open for just this file, as I have made the necessary changes for `lib/strict.t` as part of pull request https://github.com/atoomic/perl/pull/348.

[2020-12-18 01:50] #321 closed

[2020-12-18 14:55] jkeenan opened #349 "t/run/switches.t: Fails when invoked by miniperl"
Today in our `alpha` branch I had occasion to run `make minitest`.  I got two test failures, one of which is in `t/run/switches.t`.
[code]
If, however, you do a full build (`make test_prep`) and then run this test file, it compiles and runs as expected.

I will submit a pull request that enables the file to compile and run as expected against both `miniperl` and `perl`.

Thank you very much.
Jim K

[2020-12-18 15:28] jkeenan opened #351 "t/op/coreamp.t: Fails to compile against miniperl"
Today in our `alpha` branch I had occasion to run `make minitest`.  I got two test failures, the second of which was in `t/op/coreamp.t`.
[code]
If, however, you do a full build (`make test_prep`) and then run this test file, it compiles and runs as expected.

I will submit a pull request that enables the file to compile and run as expected against both `miniperl` and `perl`.

Thank you very much.

[2020-12-18 16:16] atoomic commented on #351
Thanks a lot @jkeenan

[2020-12-18 16:59] jkeenan commented on #349
Resolved via p.r. https://github.com/atoomic/perl/pull/350. Closing ticket.

[2020-12-18 16:59] #349 closed

[2020-12-18 17:00] jkeenan commented on #351
Resolved via p.r. https://github.com/atoomic/perl/pull/352.  Closing ticket.

[2020-12-18 17:00] #351 closed

[2020-12-18 23:47] jkeenan commented on #322
I'll be working on this file in the `gha-322-lib-warnings-t-20201218` branch.

[2021-01-25 02:54] jkeenan commented on #308
As of commit 5dc2ff86e5 (Jan 24 2021), the acceptance criteria have been met.  Closing ticket.

[2021-01-25 02:54] #308 closed

[2021-01-25 02:56] jkeenan commented on #304
As of 5dc2ff86e5, the only test not passing in this subdirectory is `dist/Storable/t/code.t`.  See:  https://github.com/atoomic/perl/issues/319.

[2021-01-25 02:58] jkeenan commented on #305
As of 5dc2ff86e5 (Jan 24 2021), the acceptance criteria have been met.  Closing ticket.

[2021-01-25 02:58] #305 closed

[2021-01-25 03:00] jkeenan commented on #299
We were otherwise in October, so no action was taken.  Closing ticket.

[2021-01-25 03:00] #299 closed

[2021-01-25 03:02] jkeenan commented on #309
As of 5dc2ff86e5 (Jan 24 2021), the only failing test in this subdirectory is `t/op/caller.t`.  See:  https://github.com/atoomic/perl/issues/339

[2021-01-25 03:03] jkeenan commented on #311
As of Jan 24 2021, the only test in this subdirectory which is not passing in the alpha-dev-03-warnings branch is `t/re/reg_mesg.t`.

[2021-01-25 03:05] jkeenan commented on #306
As of Jan 24 2021, the only unit tests not passing in the `lib/` subdirectory in the alpha-dev-03-warnings branch are:
[code]

[2021-04-12 19:29] rurban commented on #142
You need to compare against the added prefix
[code]

Only the feature bitwise converts the `bit_and` into `i_bit_and` ops (called `nbit_and` in perl5), which will be then we warned against.
bitwise is really enforcing integer context for the 3 logical compare binops. (n is a misnomer)

Just fix your testcase.